<%- include("templates/header") %> 
    <%  if (auth) { %> 
        <div class="fs-1 text-center">Hello, <%= user %></div>
        <div class="d-flex gap-2 justify-content-center py-2 text-white">
        <form action='/members' method='get'>
        <button class="btn btn-primary d-inline-flex align-items-center">Members Page</button>
        </form>
        <form action='/logout' method='get'><button class="btn btn-outline-secondary d-inline-flex align-items-center">Logout</button></form>
    <% } else { %>
        <div class="d-flex gap-2 justify-content-center py-2 text-white">
        <form action='/createUser' method='get'>
            <button class="btn btn-primary d-inline-flex align-items-center">Sign up!</button>
          </form>
          <form action='/login' method='get'>
            <button class="btn btn-outline-secondary d-inline-flex align-items-center">Log in!</button>
          </form>
    <% } %>  
        </div>
<%- include("templates/footer") %> 