<%- include("templates/header") %> 
    <div style="user-select: text;" class="row mb-3 text-center">
        <div class="col-sm-4 themed-grid-col border" style="user-select: text;"><img src='/lucifer.jpg' style='width:100%;'></div>
        <div class="col-sm-4 themed-grid-col border" style="user-select: text;"><img src='/milka.jpg' style='width:100%;'></div>
        <div class="col-sm-4 themed-grid-col border" style="user-select: text;"><img src='/shiro.jpg' style='width:100%;'></div>
      </div>
<%- include("templates/footer") %> 